<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="2">
<listeners>
 	<listener class-name="com.neopane.listeners.MyListener"/>
 	<listener class-name="com.neopane.listeners.MyMethodInterceptor"/>
 	<listener class-name="com.neopane.listeners.AnnotationTransformer"/>
</listeners>
  <test thread-count="1" name="Test" parallel="methods" >
    <classes>
    
      <class name="com.neopane.tests.OrangeHomeTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
